.stTextInput>div>div>input {
    color: #4F8BF9;
}

.stselectbox>selectbox {
    color: #4F8BF9;
    border-radius: 50%;
    height: 2em;
    width: 3em;
}

.st-bg {
    padding-bottom: 0px;
}

.st-bf {
    padding-top: 0px;
}

.Widget>label {
    font-size: 1rem;
    color: #262730;
    margin-bottom: .4rem;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
    
@keyframes blink {
    0% { border-color: #f63366; }
    50% { border-color: #FFFFFF; }
    100% { border-color: #f63366; }
}
.sidebar-collapse-control button{
    animation: blink 1.0s linear infinite;
}
.sidebar .sidebar-content{
    padding: 0.1rem 0.1rem!important;
}
